#ClockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    /* background-color: gainsboro; */

}
#Hour, #Minute, #Second{
    position: absolute;
    background: black;
    border-radius: 9px;
    transform-origin: bottom;
}

#Hour{
    width: 1.5%;
    height: 24%;
    top: 27%;
    left: 49.2%;
    opacity: 0.8;
    background-color: gray;
}

#Minute{
    width: 1.1%;
    height: 33%;
    top: 18%;
    left: 49.5%;
    opacity: 0.8;
    background-color: darkkhaki;
}

#Second{
    width: 0.8%;
    height: 36%;
    top: 13%;
    left: 49.5%;
    opacity: 0.8;
    background-color: grey;
}